input{
  width:80%;
}
.bg-yellow{
background: #ffc701;
min-width: 7%;
text-align: center;
color: black;

}
*{
color: #000;
}
input[type="text"],input[type="number"]{
background-color: white;
border: 2px solid black;
color: black !important;
border-radius: 5px;
font-size:14px ;
height: 35px;

}

.bg-dark{
background-color: #fff !important;
color:#000;
}

.mytable-tr{
background: #fff;
width: 100%;
}

.mytable td{
border: 1px solid #d7d7d7;
}
.mytable td div{
white-space: nowrap;
}
.btn-primary{
background-color: #eed487 !important;
}

button{
font-size: 14px;
}

.btn{
  border-radius: 5px;
}

::ng-deep .mat-dialog-container{
  padding: 0px !important;
  border: none !important;
}

.back-bet{
  background-color: #BFDDF6;
}

.lay-bet{
  background-color: #F5DCE2;
}

.rate-div div:nth-child(2) input{
  width: 100%;
  border-radius: 0px;
  border: none;
  border-top: 1px solid#D0D0D0;
  border-bottom: 1px solid#D0D0D0;
}

.stake-div div:nth-child(2) input{
  width: 100%;
  border-radius: 0px;
  border: none;
  border-top: 1px solid#D0D0D0;
  border-bottom: 1px solid#D0D0D0;
}

.stake-div div:nth-child(1){
display: flex;
justify-content: center;
height: 35px;
}

.rate-div div:nth-child(1){
display: flex;
justify-content: center;
height: 35px;
}

.stake-div div:nth-child(3){
display: flex;
justify-content: center;
height: 35px;
}

.rate-div div:nth-child(3){
display: flex;
justify-content: center;
height: 35px;
}

.stake-div div:nth-child(1) .btn{
min-height: 35px;
border-radius: 5px 0px 0px 5px;
border: 1px solid #C9C9C9;
background-color: #F0F0F0 !important;
}

.rate-div div:nth-child(1) .btn{
min-height: 35px;
border-radius: 5px 0px 0px 5px;
border: 1px solid #C9C9C9;
background-color: #F0F0F0 !important;
}

.stake-div div:nth-child(3) .btn{
min-height: 35px;
border-radius: 0px 5px 5px 0px;
border: 1px solid #C9C9C9;
background-color: #F0F0F0 !important;
}

.rate-div div:nth-child(3) .btn{
min-height: 35px;
border-radius: 0px 5px 5px 0px;
border: 1px solid #C9C9C9;
background-color: #F0F0F0 !important;
}

.material-symbols-outlined{
  /* color: ; */
}
/* 🔄 Loader Overlay – FIXED CENTER */
.loader-overlay {
  position: fixed;          /* 🔥 KEY FIX */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;      /* vertical center */
  justify-content: center;  /* horizontal center */

  background: rgba(0, 0, 0, 0.55);
  z-index: 99999;
}

/* Loader box */
.loader-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.85);
  padding: 22px 32px;
  border-radius: 10px;
}
