<div class="box">
  <div class="ballbyshow">
    <h4 class="text-light d-flex">
      <!-- <div class="material-symbols-outlined">info</div>
      <div class="ballby ml-1">Ball By Ball</div> -->
    </h4>
  </div>
  <app-animated-progress-bar [value]="counter"></app-animated-progress-bar>
  <div class="casino-table teenpatti20" *ngIf="live_data.hasOwnProperty('t1')">
    <div class="casino-video">
      <div class="casino-video-title">
        <span class="casino-name">Teenpatti 1-day</span>
        <span class="casino-video-rid"
          >Round ID: {{ this.last_market_id }}</span
        >
      </div>
      <div class="video-box-container">
        <div class="video-box">
          <iframe src="https://jmdapi.com/tablevideo/?id=3031"></iframe>
        </div>
      </div>
      <!-- video cards -->
      <div class="casino-video-cards" [class.hide-cards]="cards.length == 0">
        <div class="casino-cards-shuffle">
          <i class="fas fa-grip-lines-vertical"></i>
        </div>
        <div class="casino-video-cards-container">
          <div>
            <span
              ><img src="/assets/casino/cards/{{ live_data.t1[0].C1 }}.png"
            /></span>

            <span
              ><img src="/assets/casino/cards/{{ live_data.t1[0].C2 }}.png"
            /></span>

            <span
              ><img src="/assets/casino/cards/{{ live_data.t1[0].C3 }}.png"
            /></span>
          </div>
          <div>
            <span
              ><img src="/assets/casino/cards/{{ live_data.t1[1].C1 }}.png"
            /></span>
            <span
              ><img src="/assets/casino/cards/{{ live_data.t1[1].C2 }}.png"
            /></span>
            <span
              ><img src="/assets/casino/cards/{{ live_data.t1[1].C3 }}.png"
            /></span>
          </div>
        </div>
      </div>
      <!-- video cards -->
      <div class="casino-video-right-icons">
        <div title="Home" class="casino-video-home-icon">
          <a routerLink="/dashboard/casino" class="" style="color: #fff"
            ><i class="fas fa-home"></i
          ></a>
        </div>
        <div
          title="Rules"
          class="casino-video-rules-icon"
          (click)="openCasinoRule()"
        >
          <i class="fas fa-info-circle"></i>
        </div>
        <!---->
      </div>
    </div>
    <div class="casino-detail">
      <!---->
      <div class="teen20casino-container d-none-big">
        <div class="casino-bl-box casino-bl-box-title">
          <div class="casino-bl-box-item"></div>
          <div class="casino-bl-box-item">Back</div>
          <div class="casino-bl-box-item">Lay</div>
        </div>
        <div class="casino-bl-box">
          <div class="casino-bl-box-item casino-odds-name casino-nation-name">
            <span>Player A</span>
            <span
              [class.d-none]="exp_amount1 == 0"
              [class.book-red]="exp_amount1 < 0"
              [class.book-green]="exp_amount1 > 0"
              >{{ exp_amount1 }}</span
            >
          </div>
          <div
            class="back casino-bl-box-item"
            [class.suspended]="
              live_data.t1[0].gstatus == 'SUSPENDED' ||
              live_data.t1[0].gstatus == 'CLOSED'
            "
            [class.disabled]="live_data.t1[0].b1 == 0"
            (click)="
              openDialog('teen', live_data.t1[0].mid, {
                rate: live_data.t1[0].b1,
                sid: live_data.t1[0].sectionId,
                nat: live_data.t1[0].nation,
                type: 'Back',
                index: 1
              })
            "
          >
            <span
              class="casino-box-odd"
              *ngIf="live_data.t1[0].gstatus == 'ACTIVE'"
              >{{ live_data.t1[0].b1 }}</span
            >
          </div>
          <div
            class="lay casino-bl-box-item"
            [class.suspended]="
              live_data.t1[0].gstatus == 'SUSPENDED' ||
              live_data.t1[0].gstatus == 'CLOSED'
            "
            [class.disabled]="live_data.t1[0].l1 == 0"
            (click)="
              openDialog('teen', live_data.t1[0].mid, {
                rate: live_data.t1[0].l1,
                sid: live_data.t1[0].sectionId,
                nat: live_data.t1[0].nation,
                type: 'Lay',
                index: 1
              })
            "
          >
            <span
              class="casino-box-odd"
              *ngIf="live_data.t1[0].gstatus == 'ACTIVE'"
              >{{ live_data.t1[0].l1 }}</span
            >
          </div>
        </div>

        <div class="casino-bl-box">
          <div class="casino-bl-box-item casino-odds-name casino-nation-name">
            <span>Player B</span>
            <span
              [class.d-none]="exp_amount2 == 0"
              [class.book-red]="exp_amount2 < 0"
              [class.book-green]="exp_amount2 > 0"
              >{{ exp_amount2 }}</span
            >
          </div>
          <div
            class="back casino-bl-box-item"
            [class.suspended]="
              live_data.t1[1].gstatus == 'SUSPENDED' ||
              live_data.t1[1].gstatus == 'CLOSED'
            "
            [class.disabled]="live_data.t1[1].b1 == 0"
            (click)="
              openDialog('teen', live_data.t1[1].mid, {
                rate: live_data.t1[1].b1,
                sid: live_data.t1[1].sectionId,
                nat: live_data.t1[1].nation,
                type: 'Back',
                index: 2
              })
            "
          >
            <span
              class="casino-box-odd"
              *ngIf="live_data.t1[1].gstatus == 'ACTIVE'"
              >{{ live_data.t1[1].b1 }}</span
            >
          </div>
          <div
            class="lay casino-bl-box-item"
            [class.suspended]="
              live_data.t1[1].gstatus == 'SUSPENDED' ||
              live_data.t1[1].gstatus == 'CLOSED'
            "
            [class.disabled]="live_data.t1[1].l1 == 0"
            (click)="
              openDialog('teen', live_data.t1[1].mid, {
                rate: live_data.t1[1].l1,
                sid: live_data.t1[1].sectionId,
                nat: live_data.t1[1].nation,
                type: 'Lay',
                index: 2
              })
            "
          >
            <span
              class="casino-box-odd"
              *ngIf="live_data.t1[1].gstatus == 'ACTIVE'"
              >{{ live_data.t1[1].l1 }}</span
            >
          </div>
        </div>
      </div>
      <!---->
      <div class="casino-video-last-results d-flex flex-wrap">
        <span
          *ngFor="let data of result_history.data"
          [class.resulta]="data.result == 1"
          [class.resultb]="data.result == 2"
          (click)="openCasinoDetails(data)"
        >
          {{ data.result | teenpattioneday }}
        </span>
      </div>
    </div>
  </div>
</div>
