<div class="bottom-tabs d-md-none">
  <span class="bottom-image"></span>
  <ul>
    <li class="truncate all-sports lpsport">
       <a routerLink="/dashboard/cricket"><span class="material-symbols-outlined text-light">sports_cricket</span></a>
       <div class="title-name">Sports</div>
    </li>
    <li class="truncate lpinplay">
       <a routerLink="/dashboard/inplay-match"> <span class="material-symbols-outlined text-light">play_circle</span></a>
       <div class="title-name">In Play</div>
    </li>
    <li class="truncate"><a href="javascript:void(0)" class="blank-bg">&nbsp;</a></li>
    <li class="big"><a routerLink="/dashboard/home" class="bowler"><span class="material-symbols-outlined text-light">Home</span></a></li>
    <li class="truncate lpcasomp">
       <a routerLink="/dashboard/livecasino"><span class="material-symbols-outlined text-light">token</span></a>
       <div class="title-name">Casino</div>
    </li>
    <li class="truncate promotion lppromotion">
       <a routerLink="/dashboard/account">
         <span class="material-symbols-outlined text-light d-block">celebration</span>
          <div class="title-name">Account</div>
       </a>
    </li>
  </ul>
</div>