<div class="content-wrapper" style="min-height: 368px">
  
  <!-- <div class="top-banners" style="background-image: url('/assets/images/header-bg.png'); ">
    <div class="banner-text">
        <span>World's Largest Online
            Casino and Sportsbook</span>
    </div>
        <div *ngFor="let banner of banner_url" class="main-banners">
            <div class="slide-container border-white">
                <img style="width:100%" [src]="banner.path"
                    class='carouselImage'>
            </div>
        </div>
</div> -->

<!-- <div>
  <ngb-carousel 
    [showNavigationArrows]="false" 
    [showNavigationIndicators]="true" 
    [interval]="3000"
    [pauseOnHover]="false">
    
    <ng-template *ngFor="let banner of banner_url" ngbSlide>
      <div class="slide-container border-white">
        <img style="width:100%" [src]="banner.path" class="carouselImage">
      </div>
    </ng-template>

  </ngb-carousel>
</div> -->

        <div style="background: #EDEDED;" class="card-header font-weight-bold rounded text-dark p-0 d-flex justify-content-between align-items-center">

    <span class="newhead">
       INT CASINO</span>
       <div>
        <input
          type="text"
          class="form-control"
          placeholder="Search Game"
          (input)="onSearch($event)"
        />
      </div>
   </div>
    <div class="pt-2 pb-2">
      <div *ngIf="is_active; else notActive">
      <div class="exchange-menu-wrapper int_all_tab ">
        <ul  role="tablist" class="nav nav-pills subnav" aria-label="Tabs">
          <li class="nav-item lobbytab" (click)="openLobby()">
            <a href="javascript:void(0);" role="tab" class="nav-link">
              <span>Lobby</span>
            </a>
          </li>
          <li *ngFor="let vendor of vendors" class="nav-item" [class.active]="activeVendor==vendor.providerCode" (click)="onVendorChange(vendor.providerCode)">
              <a  href="javascript:void(0);" role="tab" class="nav-link" [class.active]="activeVendor==vendor" id="">
                <span id="parentTab-0"> {{ vendor.providerName }} </span>
              </a>
          </li>
        </ul>
        <ul role="tablist" class="nav nav-pills int_sub_navbar mt-0" aria-label="Tabs">
          <li class="nav-item2" (click)="onSelectCategory('All')" [class.active]="activeCategory === 'All'">
            <a href="javascript:void(0);" role="tab" class="nav-link" [class.active]="activeCategory === 'All'">
              <span>All</span>
            </a>
          </li>
          <li *ngFor="let category of categories; let i = index" class="nav-item2" (click)="onSelectCategory(category)" [class.active]="category === activeCategory">
            <a href="javascript:void(0);" role="tab" class="nav-link" [class.active]="category === activeCategory">
              <span>{{category}} </span>
            </a>
          </li>
        </ul>
      </div>
      <div class="card m-0" style="background-color: #1A2C38; color: white; border: none;">
          <div class="card-body" style="padding: 5px;">
              <div id="game_container">
              <div *ngIf="gameurl==''; else gameWindow">
                        <div *ngIf="isloading; else gamelist">
                          <mat-spinner diameter="40"></mat-spinner> 
                        </div> 
                        <ng-template #gamelist>
                          <div *ngIf="filtered_gameList.length > 0 && activeCategory!='search';" class="pagination">
                            <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">previous</button>
                          
                            <ng-container *ngFor="let page of getPaginationRange()">
                              <ng-container *ngIf="page === '...'">
                                <span>...</span>
                              </ng-container>
                              <ng-container *ngIf="page !== '...'">
                                <button 
                                  (click)="page !== currentPage && changePage(page)" 
                                  [ngClass]="{'active-page': page === currentPage}"
                                >
                                  {{ page }}
                                </button>
                              </ng-container>
                            </ng-container>
                          
                            <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">next</button>
                          </div>
                          <div *ngIf="filtered_gameList.length > 0; else gamesfound" class="casino-grid">
                            <div *ngFor="let game of filtered_gameList" class="casino-item img-wrapper">
                              <img class="game_banner"
                                   lazyLoad loading="lazy"
                                   (click)="openNewGameTab(game.casinoGameId, game.provider)"
                                   [src]="game.logo_square"
                                   [alt]="game.game_name"
                                   (load)="onImageLoad($event)"
                                   (error)="onImageError($event)" />
                              <div class="game-name-container">{{ game.game_name }}</div>
                            </div>
                          </div>

                        </ng-template> 
                        <ng-template #gamesfound>
                          <h5>no games found</h5>
                        </ng-template>
              </div>
              <ng-template #gameWindow>
                <div class="col-md-12 mt-4 p-0">
                  <iframe [src]="gameurl" width="100%" height="600px" title="game"></iframe>
                </div>
              </ng-template>
              </div>
          </div>
      </div>
      </div>
      <ng-template #notActive>
        <div class="pt-4 text-center" id="contact_us">
          <h3 class="contact_notice">Notice: Your casino account is not active, click to active.</h3>
          <br>
          <button type="button" [disabled]="clicked" (click)="activateAccount(); clicked = true;" class="btn btn-primary btn-lg mt-3 text-dark">Activate account</button>
        </div>
      </ng-template>
    </div>
</div>
