
.container-fluid{
  background-color: #EDEDED;
  min-height: 100vh;
}

.card-header{
  background: linear-gradient(180deg, #2E4B5E 0%, #243A48 82%);
  color: #fff;
  height: 35px;
  padding: 5px !important;
}

.card-body {
  background-color: #fff;
  padding: 0px !important;
}

.table thead th {
  padding: 7px;
  text-align: center;
  border: 1px solid #C8CED3;
  background-color: #E0E6E6;
  color: #000000;
  font-size: 12px;
  white-space: nowrap;
  position: sticky;
  top: 0;
  font-weight: 700;
}

.account-details{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.account-details div{
  /* border-bottom: 1px solid #CCCCCC; */
  /* padding: 10px; */
  display: flex;
  justify-content: space-between;
}

.account-details div .span-head{
  font-weight: bold;
  font-size: 16px;
  flex: 0 0 40%;
}

.account-details div span:last-child {
  width: 60%;
  display: inline-block;
  word-break: break-word;
}

.material-symbols-outlined{
  margin-left: 5px;
  font-size: 18px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
}

.change-btn{
  background: linear-gradient(180deg, #2E4B5E 0%, #243A48 82%);
  color: #fff;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  opacity: 65%;
  white-space: nowrap;
}

.form-group {
  display: flex;
  flex-direction: column;
}