::ng-deep .modal {
  z-index: 1055;
}

::ng-deep .modal-dialog-container {
  /*max-width: 90%;*/
  width: 50%;
  
}


.card-header {
  /* background: transparent linear-gradient(94deg,#b6842d,#ebda8d 55%,#b7862f); */
  background: #1E1E1E;
  color: white !important;
}

.card-body {
  background-color: #1E1E1E !important;
  color: #000 !important;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 8px 10px;
  margin: 0px 0 8px 0;
  display: inline-block;
  /*background-color: #000000 !important;*/
  /*border: solid 1px white !important;*/
  /*color: white !important;*/
  border-radius: 0px !important;
  outline: 0;
  /* box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2) !important; */
  letter-spacing: 0.4px !important;
  font-size: 14px !important;
  /*font-family: "open-sans-semibold" !important;*/
  text-indent: 15px;
  height: 35px;
  /*font-weight: 600;*/
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  padding-bottom: 15px;
}

.lock-icon{
  width: 15px;
  height: 22px;
  margin-right: 10px;
  margin-top: 5px;
}

.change-btn{
font-size: 13px;
font-weight: 300;
letter-spacing: 1px;
text-align: center;
background-color: #F26C20;
color: #000;
}

input[type="text"], input[type="password"]:focus{
  border: none !important;
}