<div class="box">
  <div class="ballbyshow">
    <h4 class="text-light d-flex">
      <!-- <div class="material-symbols-outlined">info</div>
      <div class="ballby ml-1">Ball By Ball</div> -->
    </h4>
  </div>
  <app-animated-progress-bar [value]="counter"></app-animated-progress-bar>
  <div *ngif="3 > 6" class="bg-title d-flex justify-content-between mb-0">
    <div class="title d-flex align-items-center p-2 match-name">
      <div class="ml-0">
        <div class="h5" style="font-size: 14px">
          20-20 Teenpatti
          <span class="round-id">RoundId: {{ this.last_market_id }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="casino-table teenpatti20" *ngIf="live_data.hasOwnProperty('t2')">
    <div class="casino-video">
      <div class="casino-video-title">
        <span class="casino-name">20-20 Teenpatti</span>
        <span class="casino-video-rid"
          >Round ID: {{ this.last_market_id }}</span
        >
      </div>
      <div class="video-box-container">
        <div class="video-box">
          <iframe src="https://jmdapi.com/tablevideo/?id=3030"></iframe>
        </div>
      </div>
      <!-- video cards -->
      <div class="casino-video-cards" [class.hide-cards]="cards.length == 0">
        <div class="casino-cards-shuffle">
          <i class="fas fa-grip-lines-vertical"></i>
        </div>
        <div class="casino-video-cards-container">
          <div>
            <span *ngIf="cards[0]"
              ><img src="/assets/casino/cards/{{ cards[0] }}.png"
            /></span>
            <span *ngIf="!cards[0]">
              <img src="/assets/casino/cards/1.png" alt="Default Card Image" />
            </span>
            <span *ngIf="cards[2]"
              ><img src="/assets/casino/cards/{{ cards[2] }}.png"
            /></span>
            <span *ngIf="!cards[2]">
              <img src="/assets/casino/cards/1.png" alt="Default Card Image" />
            </span>
            <span *ngIf="cards[4]"
              ><img src="/assets/casino/cards/{{ cards[4] }}.png"
            /></span>
            <span *ngIf="!cards[4]">
              <img src="/assets/casino/cards/1.png" alt="Default Card Image" />
            </span>
          </div>
          <div>
            <span *ngIf="cards[1]"
              ><img src="/assets/casino/cards/{{ cards[1] }}.png"
            /></span>
            <span *ngIf="!cards[1]">
              <img src="/assets/casino/cards/1.png" alt="Default Card Image" />
            </span>
            <span *ngIf="cards[3]"
              ><img src="/assets/casino/cards/{{ cards[3] }}.png"
            /></span>
            <span *ngIf="!cards[3]">
              <img src="/assets/casino/cards/1.png" alt="Default Card Image" />
            </span>
            <span *ngIf="cards[5]"
              ><img src="/assets/casino/cards/{{ cards[5] }}.png"
            /></span>
            <span *ngIf="!cards[5]">
              <img src="/assets/casino/cards/1.png" alt="Default Card Image" />
            </span>
          </div>
        </div>
      </div>
      <!-- video cards -->
      <div class="casino-video-right-icons">
        <div title="Home" class="casino-video-home-icon">
          <a routerLink="/dashboard/casino" class="" style="color: #fff"
            ><i class="fas fa-home"></i
          ></a>
        </div>
        <div
          title="Rules"
          class="casino-video-rules-icon"
          (click)="openCasinoRule()"
        >
          <i class="fas fa-info-circle"></i>
        </div>
        <!---->
      </div>
    </div>
    <div class="casino-detail">
      <!---->
      <div class="teen20casino-container d-none-big">
        <div class="casino-bl-box casino-bl-box-title">
          <div class="casino-bl-box-item"></div>
          <div class="casino-bl-box-item playera">Player A</div>
          <div class="casino-bl-box-item playerb">Player B</div>
        </div>
        <div class="casino-bl-box">
          <div class="casino-bl-box-item casino-odds-name casino-nation-name">
            <span>Player</span>
          </div>
          <div
            class="back casino-bl-box-item"
            [class.suspended]="live_data.t2[0].gstatus == 0"
            [class.lock-top]="exp_amount1 != 0"
            (click)="openDialog('teen20', live_data.t1[0].mid, live_data.t2[0])"
          >
            <span class="casino-box-odd" *ngIf="live_data.t2[0].gstatus == 1">{{
              live_data.t2[0].rate
            }}</span>
            <span
              [class.pt-4]="live_data.t2[0].gstatus == 0"
              [class.d-none]="exp_amount1 == 0"
              [class.book-red]="exp_amount1 != 0"
              >{{ exp_amount1 }}</span
            >
            <span class="d-none">0</span>
          </div>
          <div
            class="back casino-bl-box-item"
            [class.suspended]="live_data.t2[2].gstatus == 0"
            [class.lock-top]="exp_amount3 != 0"
            (click)="openDialog('teen20', live_data.t1[0].mid, live_data.t2[2])"
          >
            <span class="casino-box-odd" *ngIf="live_data.t2[2].gstatus == 1">{{
              live_data.t2[2].rate
            }}</span>
            <span
              [class.pt-4]="live_data.t2[2].gstatus == 0"
              [class.d-none]="exp_amount3 == 0"
              [class.book-red]="exp_amount3 != 0"
              >{{ exp_amount3 }}</span
            >
          </div>
        </div>

        <div class="casino-bl-box">
          <div class="casino-bl-box-item casino-odds-name casino-nation-name">
            <span>Pair Plus</span>
          </div>
          <div
            class="back casino-bl-box-item"
            [class.suspended]="live_data.t2[1].gstatus == 0"
            [class.lock-top]="exp_amount2 != 0"
            (click)="openDialog('teen20', live_data.t1[0].mid, live_data.t2[1])"
          >
            <!-- <span class="casino-box-odd" *ngIf="live_data.t2[1].gstatus == 1">{{
              live_data.t2[1].rate
            }}</span> -->
            <span class="casino-box-odd" *ngIf="live_data.t2[1].gstatus == 1"
              >A</span
            >
            <span
              [class.pt-4]="live_data.t2[1].gstatus == 0"
              [class.d-none]="exp_amount2 == 0"
              [class.book-red]="exp_amount2 != 0"
              >{{ exp_amount2 }}</span
            >
          </div>
          <div
            class="back casino-bl-box-item"
            [class.suspended]="live_data.t2[3].gstatus == 0"
            [class.lock-top]="exp_amount4 != 0"
            (click)="openDialog('teen20', live_data.t1[0].mid, live_data.t2[3])"
          >
            <!-- <span class="casino-box-odd" *ngIf="live_data.t2[3].gstatus == 1">{{
              live_data.t2[3].rate
            }}</span> -->
            <span class="casino-box-odd" *ngIf="live_data.t2[3].gstatus == 1"
              >B</span
            >
            <span
              [class.pt-4]="live_data.t2[3].gstatus == 0"
              [class.d-none]="exp_amount4 == 0"
              [class.book-red]="exp_amount4 != 0"
              >{{ exp_amount4 }}</span
            >
          </div>
        </div>
      </div>
      <!---->
      <div class="casino-video-last-results d-flex flex-wrap">
        <span
          *ngFor="let data of result_history.data"
          [class.resulta]="data.result == 1 || data.result == 2"
          [class.resultb]="data.result == 3 || data.result == 4"
          (click)="openCasinoDetails(data)"
        >
          {{ data.result | playername }}
        </span>
      </div>
      <div class="mt-4">
        <div class="casino-place-bet-title">Rules</div>
        <h5 class="thead">Pair Plus</h5>
        <table class="table table-sm casino-table">
          <tr>
            <td>Pair</td>
            <td>1 TO 1</td>
          </tr>
          <tr>
            <td>Flush</td>
            <td>1 TO 4</td>
          </tr>
          <tr>
            <td>Straight</td>
            <td>1 TO 6</td>
          </tr>
          <tr>
            <td>Trio</td>
            <td>1 TO 30</td>
          </tr>
          <tr>
            <td>Straight Flush</td>
            <td>1 TO 40</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
