<!-- <div class="container-fluid"> -->

  <div class="d-flex game-list2">
    <!-- <span routerLink="/dashboard/home" routerLinkActive="active-link"><img src="../../assets/icons/home-icon-silhouette.png" alt="">Home</span> -->
    <!-- <span routerLink="/dashboard/inplay-match" routerLinkActive="active-link">Inplay</span> -->
    <span routerLink="/dashboard/cricket" routerLinkActive="active-link"><img src="../../assets/icons/cricket-player-with-bat.png" alt="">Cricket</span>
    <span class="aviator" routerLinkActive="active-link"> <img src="../../assets/icons/Aviator-Crash-Plane.png" alt="">Vimaan</span>
    <span routerLink="/dashboard/football" routerLinkActive="active-link"><img src="../../assets/icons/soccer-ball.png" alt="">Football</span>
    <span routerLink="/dashboard/tennis" routerLinkActive="active-link"><img src="../../assets/icons/tennis-player-with-racket.png" alt="">Tennis</span>
    <span routerLink="/dashboard/livecasino" routerLinkActive="active-link"><img src="../../assets/icons/ace-of-heart.png" alt="">Live Casino</span>
</div>
  <!-- </div> -->
