 <div class="container-fluid">

  <div class="card mt-2">
    <div class="card-header">Password Change History</div>
    <div class="card-body">
      <table class="table table-sm table-bordered table-striped table-responsive-md text-white">
        <thead>
            <tr>
                <th>Date/Time</th>
                <th>Remark</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let history of password_history; let i = index">
                <td>{{history.updated_at | date:'MMM d, y h:mm a'}}</td>
                <td>{{history.type}}</td>
            </tr>
        </tbody>
        <ng-template #noResult>
            <tbody >
                <tr>
                    <td colspan="100" class="text-dark text-center" style="background-color: #ffffff;">No Data</td>
                </tr>
            </tbody>
        </ng-template>
    </table>
    </div>
  </div>

  </div>
