.flexitem {
    /*width: 16%;*/
    /*text-align: center;*/
    /*!*border-radius: 3px;*!*/
    /*line-height: 20px;*/
    /*margin: 2px 0;*/
    /*font-weight: 600;*/
    /*border: 0px;*/
    /*font-size: 15px;*/
    /*height: 30px;*/
    width: 16%;
    text-align: center;
    line-height: 20px;
    margin: 2px 0;
    font-weight: 400;
    border: 0px;
    font-size: 13px;
    height: 33px;
    border-radius: 5px;
}

* {
    background-color: #ffffff;
}

.bg-blue {
    background: #A5D9FE;
    color: black;
    width: 75px;
    margin-right: 5px;
    height: 35px;
}


.bg-pink {
    background: #F8D0CE;
    color: black;
    width: 75px;
    margin-right: 5px;
    height: 35px;
}

::ng-deep .date {
    background-color: #333;
    /*padding: 4px;*/
    border-radius: 3px;
    align-items: center;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 400;
    width: 100px !important;
    vertical-align: middle;
    color: #bababa;
    display: inline-flex;
    flex-direction: column;
    padding: 5px 0px;
}

.date-text {
    background-color: #333;
    color: #bababa;
}

.card-body {
    padding: 0px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* border-radius: 10px; */
    margin-bottom: 10px !important;
    background-color: #ffffff;
    border-radius: 0px 0px 16px 16px !important;
}

.card-body div{
    /* background-color: #F8F9FA ; */
}

.cric-icon {
    width: 20px;
    height: 20px;
}

.inplay {
    background-color: #85ba30;
    color: white;
}

.img-icon {
    width: 21px;
    height: 21px;
}

.border-warning {
    border-width: 2px !important;
    border-radius: 5px !important;

}

.carousel {
    background-color: #000 !important;
}


.newhead {
    position: relative;
    padding: 3px 15px;
    display: inline-block;
    width: 100%;
    /* background: linear-gradient(94deg, #b6842d, #ebda8d 55%, #b7862f) !important;; */
    background-color: #F26C20;
    color: #ffffff;
    border-radius: 16px 16px 0px 0px;
}

.game-head-text{
    color: #252525;
    font-size: 13px;
}
  
.game-grey-text{
    color: #4d4b4b;
    font-size: 10px;
    margin-left: 20px;
}

.fgame-img {
    width: 100%;
    height: 120px;
}

.ttp {
    width: 33%;
}

::ng-deep .card-header {
    border-bottom: 0px;
}

::ng-deep .card {
    border: 0px;
    border-radius: 16px;
}

ul {

    list-style: none;
    background: none !important;
}

.side-menu {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 90px;
    z-index: 19;
    background: none !important;
}

.side-menu li a:hover {
    transform: translate3d(-220px, 0, 0);
    transition: transform .3s ease-out .2s;
}

.side-menu li a {
    background-image: linear-gradient(94deg, #b6842d, #ebda8d 55%, #b7862f);
    border-radius: 5px 0 0 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
    color: rgba(255, 255, 255, .9);
    display: flex;
    font-size: 12px;
    height: 60px;
    line-height: 1.4;
    overflow: hidden;
    /*padding-left: 60px;*/
    text-decoration: none;
    transform: translateZ(0);
    transition: transform .3s linear;
    width: 280px;
}

.side-menu li a > span {
    color: #1f2a2c;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    background: none !important;
    padding-left: 12px;
}

.side-menu li a > div {
    background: none !important;
    padding-left: 8px;
}

.side-menu li a div > h2 {
    color: #49380d;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    padding: 10px 0 0px;
    background: none !important;
    margin: 0px;
}

.side-menu li a div > p {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
    background: none !important;
    padding: 0px;
    margin: 0px;
}

.rainbow {
    position: relative;
    width: 100%;
    border-radius: 10px;
    place-content: center;
    font-size: 2.5em;
    --border-size: 0.2rem;
    border: var(--border-size) solid transparent;
    /* Paint an image in the border */
    border-image: conic-gradient(
        from var(--angle),
        #c426b6 0deg 90deg,
        #5eda16 90deg 180deg,
        #377af5 180deg 270deg,
        #399953 270deg 360deg
      )
      1 stretch;
    background: rgb(255 255 255 / var(--opacity));
  }
  
  /* Animate when Houdini is available */
  @supports (background: paint(houdini)) {
    @property --opacity {
      syntax: "<number>";
      initial-value: 0.5;
      inherits: false;
    }
  
    @property --angle {
      syntax: "<angle>";
      initial-value: 0deg;
      inherits: false;
    }
  
    @keyframes opacityChange {
      to {
        --opacity: 1;
      }
    }
  
    @keyframes rotate {
      to {
        --angle: 360deg;
      }
    }
  
    .rainbow {
      animation: rotate 4s linear infinite, opacityChange 3s infinite alternate;
    }
  
  }

  .list{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
}

.bar-item{
    height: 150px !important;
    width: 200px !important; 
    padding: 1px;
    cursor: pointer;
}
.img-fluid{
    height: 150px !important;
    width: 200px !important; 
}

.list{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
}
/* .game_banner {
    width: 100%;
    height: 112px;
    border: 2px solid #000;
    padding: 2px 2px;
    cursor: pointer;
}


.banner-container {
    background-color: rgb(230, 226, 226);
    width: 100%;
    padding: 1px;
    display: flex;
    flex-wrap: wrap;
}

.banner-item {
    flex: 1 0 25%; 
    margin: 2px;
    box-sizing: border-box;
    height: 80px; 
    position: relative;
}

.game_banner {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    border: none;
}

.banner-container {
    background-color: rgb(230, 226, 226);
    width: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.banner-item {
    flex: 1;
    margin: 2px;
    box-sizing: border-box;
    height: 80px; 
    position: relative;
}

.game_banner {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border: none;
} */

/* @media (max-width: 600px) {
    .banner-item {
        flex: 1 0 100%; 
    }
} */
 


.banner-container::-webkit-scrollbar {
    width: 4px !important; /* Thinner width */
    height: 4px !important; /* Thinner height */
}
.banner-container::-webkit-scrollbar-thumb {
    background: #888 !important; /* Color of the scrollbar thumb */
    border-radius: 10px !important; /* Round edges */
}
.banner-container::-webkit-scrollbar-thumb:hover {
    background: #555 !important; /* Darker on hover */
}

*{
    font-family: Poppins, sans-serif;
}

@media (max-width: 768px) {
    .main-box{
        flex-direction: column;
    }
    .bg-blue{
        width: 100% !important;
    }
    .bg-pink{
        width: 100% !important;
    }
}

