<div class="container-fluid container-fluid-5 d-none-mobile fancy-page">
  <div class="d-flex flex-wrap">
    <div class="col-md-12 tab-content pt-2">
      <div class="fancy-provider-title">
        <a><span>Our Casino</span></a>
      </div>
      <div class="tab-pane active">
        <div class="casino-banners">
          <div class="casino-banner-item">
            <a routerLink="/dashboard/teenpattioneday" class="">
              <div
                style="
                  background-size: cover;
                  background-position: center center;
                  padding-top: 53.33%;
                  background-image: url('https://sitethemedata.com/casino_icons/lc/teen.jpg'),
                    url('https://wver.sprintstaticdata.com/v38/static/front/img/casino/default-2.jpeg');
                "
              ></div>
            </a>
          </div>
          <div class="casino-banner-item">
            <a routerLink="/dashboard/teen-patti20" class="">
              <div
                style="
                  background-size: cover;
                  background-position: center center;
                  padding-top: 53.33%;
                  background-image: url('https://sitethemedata.com/casino_icons/lc/teen20.jpg'),
                    url('https://wver.sprintstaticdata.com/v38/static/front/img/casino/default-2.jpeg');
                "
              ></div>
            </a>
          </div>
          <div class="casino-banner-item">
            <a routerLink="/dashboard/card32a" class="">
              <div
                style="
                  background-size: cover;
                  background-position: center center;
                  padding-top: 53.33%;
                  background-image: url('https://sitethemedata.com/casino_icons/lc/card32.jpg'),
                    url('https://wver.sprintstaticdata.com/v38/static/front/img/casino/default-2.jpeg');
                "
              ></div>
            </a>
          </div>
          <div class="casino-banner-item">
            <a routerLink="/dashboard/card32b" class="">
              <div
                style="
                  background-size: cover;
                  background-position: center center;
                  padding-top: 53.33%;
                  background-image: url('https://sitethemedata.com/casino_icons/lc/card32eu.jpg'),
                    url('https://wver.sprintstaticdata.com/v38/static/front/img/casino/default-2.jpeg');
                "
              ></div>
            </a>
          </div>
          <div class="casino-banner-item">
            <a routerLink="/dashboard/dragontigert20" class="">
              <div
                style="
                  background-size: cover;
                  background-position: center center;
                  padding-top: 53.33%;
                  background-image: url('https://sitethemedata.com/casino_icons/lc/dt20.jpg'),
                    url('https://wver.sprintstaticdata.com/v38/static/front/img/casino/default-2.jpeg');
                "
              ></div>
            </a>
          </div>
          <div class="casino-banner-item">
            <a routerLink="/dashboard/dragontigerliont20" class="">
              <div
                style="
                  background-size: cover;
                  background-position: center center;
                  padding-top: 53.33%;
                  background-image: url('https://sitethemedata.com/casino_icons/lc/dtl20.jpg'),
                    url('https://wver.sprintstaticdata.com/v38/static/front/img/casino/default-2.jpeg');
                "
              ></div>
            </a>
          </div>
          <div class="casino-banner-item">
            <a routerLink="/dashboard/dragontigeroneday" class="">
              <div
                style="
                  background-size: cover;
                  background-position: center center;
                  padding-top: 53.33%;
                  background-image: url('https://sitethemedata.com/casino_icons/lc/dt6.jpg'),
                    url('https://wver.sprintstaticdata.com/v38/static/front/img/casino/default-2.jpeg');
                "
              ></div>
            </a>
          </div>
          <div class="casino-banner-item">
            <a routerLink="/dashboard/lucky7" class="">
              <div
                style="
                  background-size: cover;
                  background-position: center center;
                  padding-top: 53.33%;
                  background-image: url('https://sitethemedata.com/casino_icons/lc/lucky7.jpg'),
                    url('https://wver.sprintstaticdata.com/v38/static/front/img/casino/default-2.jpeg');
                "
              ></div>
            </a>
          </div>
          <div class="casino-banner-item">
            <a routerLink="/dashboard/lucky7b" class="">
              <div
                style="
                  background-size: cover;
                  background-position: center center;
                  padding-top: 53.33%;
                  background-image: url('https://sitethemedata.com/casino_icons/lc/lucky7eu.jpg'),
                    url('https://wver.sprintstaticdata.com/v38/static/front/img/casino/default-2.jpeg');
                "
              ></div>
            </a>
          </div>
          <div class="casino-banner-item">
            <a routerLink="/dashboard/andarbahar" class="">
              <div
                style="
                  background-size: cover;
                  background-position: center center;
                  padding-top: 53.33%;
                  background-image: url('https://sitethemedata.com/casino_icons/lc/ab20.jpg'),
                    url('https://wver.sprintstaticdata.com/v38/static/front/img/casino/default-2.jpeg');
                "
              ></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid container-fluid-5 d-none-desktop fancy-page">
  <div class="">
    <div class="tab-content pt-2">
      <div class="tab-pane active">
        <div class="casino-banners">
          <div
            class="casino-banner-item"
            *ngIf="game == 'teen' || game == 'all'"
          >
            <a routerLink="/dashboard/teenpattioneday" class="">
              <div
                style="
                  background-size: cover;
                  background-position: center center;
                  padding-top: 53.33%;
                  background-image: url('https://sitethemedata.com/casino_icons/lc/teen.jpg'),
                    url('https://wver.sprintstaticdata.com/v38/static/front/img/casino/default-2.jpeg');
                "
              ></div>
            </a>
          </div>
          <div
            class="casino-banner-item"
            *ngIf="game == 'teen' || game == 'all'"
          >
            <a routerLink="/dashboard/teen-patti20" class="">
              <div
                style="
                  background-size: cover;
                  background-position: center center;
                  padding-top: 53.33%;
                  background-image: url('https://sitethemedata.com/casino_icons/lc/teen20.jpg'),
                    url('https://wver.sprintstaticdata.com/v38/static/front/img/casino/default-2.jpeg');
                "
              ></div>
            </a>
          </div>
          <div class="casino-banner-item" *ngIf="game == 'dt' || game == 'all'">
            <a routerLink="/dashboard/dragontigert20" class="">
              <div
                style="
                  background-size: cover;
                  background-position: center center;
                  padding-top: 53.33%;
                  background-image: url('https://sitethemedata.com/casino_icons/lc/dt20.jpg'),
                    url('https://wver.sprintstaticdata.com/v38/static/front/img/casino/default-2.jpeg');
                "
              ></div>
            </a>
          </div>
          <div class="casino-banner-item" *ngIf="game == 'dt' || game == 'all'">
            <a routerLink="/dashboard/dragontigerliont20" class="">
              <div
                style="
                  background-size: cover;
                  background-position: center center;
                  padding-top: 53.33%;
                  background-image: url('https://sitethemedata.com/casino_icons/lc/dtl20.jpg'),
                    url('https://wver.sprintstaticdata.com/v38/static/front/img/casino/default-2.jpeg');
                "
              ></div>
            </a>
          </div>
          <div
            class="casino-banner-item"
            *ngIf="game == 'lucky' || game == 'all'"
          >
            <a routerLink="/dashboard/lucky7" class="">
              <div
                style="
                  background-size: cover;
                  background-position: center center;
                  padding-top: 53.33%;
                  background-image: url('https://sitethemedata.com/casino_icons/lc/lucky7.jpg'),
                    url('https://wver.sprintstaticdata.com/v38/static/front/img/casino/default-2.jpeg');
                "
              ></div>
            </a>
          </div>
          <div
            class="casino-banner-item"
            *ngIf="game == 'lucky' || game == 'all'"
          >
            <a routerLink="/dashboard/lucky7b" class="">
              <div
                style="
                  background-size: cover;
                  background-position: center center;
                  padding-top: 53.33%;
                  background-image: url('https://sitethemedata.com/casino_icons/lc/lucky7eu.jpg'),
                    url('https://wver.sprintstaticdata.com/v38/static/front/img/casino/default-2.jpeg');
                "
              ></div>
            </a>
          </div>
          <div
            class="casino-banner-item"
            *ngIf="game == 'andarbahar' || game == 'all'"
          >
            <a routerLink="/dashboard/andarbahar" class="">
              <div
                style="
                  background-size: cover;
                  background-position: center center;
                  padding-top: 53.33%;
                  background-image: url('https://sitethemedata.com/casino_icons/lc/ab20.jpg'),
                    url('https://wver.sprintstaticdata.com/v38/static/front/img/casino/default-2.jpeg');
                "
              ></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
